<footer>
  <div class="back-to-top">
    <span><i class="fa-solid fa-angles-up" style="color: #2b2b2b;"></i></span>
    <span>Back to top</span>
  </div>
  <div class="socials">
    <span class="icon-button"><i class="fa-brands fa-github fa-xl" style="color: #25A6AA;"></i></span>
    <span class="icon-button"><i class="fa-brands fa-linkedin fa-xl" style="color: #25A6AA;"></i></span>
    <span class="icon-button"><i class="fa-brands fa-square-instagram fa-xl" style="color: #25A6AA;"></i></span>
    <span class="icon-button"><i class="fa-solid fa-envelope fa-xl" style="color: #25A6AA;"></i></span>
  </div>

  <div class="copyright">
    &#169; Parth Valiya | valiyaparth1407&#x40;gmail.com | Full Stack Developer.
  </div>
</footer>
