<h1 *ngIf="showHeading">Portfolio</h1>
<ng-container *ngIf="!submitted; else preview">
  <h2>Personal Information</h2>
  <form>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" [(ngModel)]="name"/>
    </div>
    <div>
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" [(ngModel)]="email"/>
    </div>
    <div>
      <label for="Phone">Phone</label>
      <input type="tel" name="Phone" id="Phone" [(ngModel)]="phone"/>
    </div>
    <div>
      <label for="address">Address</label>
      <input type="text" name="address" id="address" [(ngModel)]="address"/>
    </div>
  </form>
  <h2>Qualifications</h2>
  <div *ngFor="let q of qualification; let i = index">
    <h3>Qualification {{i+1}}</h3>
    <form>
      <div>
        <label for="school">School</label>
        <input type="text" name="school" id="school" [(ngModel)]="q.school"/>
      </div>
      <div>
        <label for="degree">Degree</label>
        <input type="text" name="degree" id="degree" [(ngModel)]="q.degree"/>
      </div>
      <div>
        <label for="year">Year</label>
        <input type="text" name="year" id="year" [(ngModel)]="q.year"/>
      </div>
    </form>
  </div>

  <div class="btn-container">
    <button (click)="addQualification()">Add Qualification</button>
    <button type="submit" (click)="formSubmit()">Submit</button>
  </div>
</ng-container>

<ng-template #preview>
  <div class="preview-container">
    <h2>Preview</h2>
    <div>
      <p [ngClass]="{name: true}">{{name}}</p>
      <p>Email: {{email}}</p>
      <p>Phone: {{phone}}</p>
      <p>Address: {{address}}</p>
    </div>
    <div *ngFor="let q of qualification">
      <h3>Qualifications</h3>
      <div>
        <h5>School/College: {{q.school}}</h5>
        <h5>Degree: {{q.degree}} {{q.year}}</h5>
      </div>
    </div>
    <br>
    <button class="btn-edit" (click)="formEdit()">Edit</button>
  </div>
</ng-template>
