/* You can add global styles to this file, and also import other style files */
/*body{*/
/*  background-color: #363e3e;*/
/*}*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(120deg, rgba(98, 205, 207, 0.69) 0%, rgba(186, 241, 243, 0.75) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/*.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
*/
