<div class="hero-section">
  <div class="hero-disc">
    <span class="name">Hello, I'm Parth Valiya</span>
    <div class="tagline">Guy who loves <br> Chai, Code & Cars.</div>
    <div class="disc">
      Fueled by curiosity, and a borderline obsession with learning <br> new tech—and making friends with both humans and machines along the way!</div>
  </div>
</div>

<div class="about-me">
  <div class="about-title">In Short</div>
  <div class="about-me-disc">
    I’m — an aspiring <b>full stack developer</b> navigating the tech universe one bug at a time.
    <br>
    Currently decoding life as a <b>Computer Engineering student</b>,
    I spend my time juggling semicolons, debugging
    <br>chaos, and falling in love with every new tech I meet.
    <br><br>
    When I'm not wrangling code,
    you’ll find me buried in books—sometimes tech, sometimes tales,
    <br>
    but always something that fuels the mind.
    <br><br>
    Always up for a challenge, a new framework, or just a good meme.
  </div>

  <button class="button-7" role="button">
    <span class="text">Resume</span>
  </button>

  <div class="about-me-img">
    <img src="/parth.png" alt="parth">
  </div>
</div>

<!--<app-greetings [message]="homeMessage()"></app-greetings>-->
<!--<app-counter></app-counter>-->

<!--<input type="text" (keyup)="keyUpHandler($event)">-->

<div class="skills">
<div class="skill-title">Skills</div>

<div class="row">
<div class="skill-card-2">
  <img src="/java.png" alt="java">
</div>
<div class="skill-card-2">
  <img src="/js.png" alt="javascript">
</div>
<div class="skill-card-2">
  <img src="/c-sharp.png" alt="c#">
</div>
<div class="skill-card-2">
  <img src="/postman.png" alt="postman">
</div>
  <div class="skill-card-2">
    <img src="/php.png" alt="php">
  </div>
  <div class="skill-card-2">
    <img src="/html.png" alt="html">
  </div>
  <div class="skill-card-2">
    <img src="/css.png" alt="css">
  </div>
  <div class="skill-card-2">
    <img src="/tailwind.png" alt="tailwind">
  </div>
</div>
</div>
