<div class="hero-section">
  <div class="hero-disc">
    <span class="name">Hello, I'm Parth Valiya</span>
    <div class="tagline">Guy who loves <br> Chai, Code & Cars.</div>
    <div class="disc">
      Fueled by curiosity, and a borderline obsession with learning <br> new tech—and making friends with both humans and machines along the way!</div>
  </div>
</div>

<div class="about-me">
  <div class="about-title">In Short</div>
  <div class="about-me-disc">
    I’m — an aspiring <b>full stack developer</b> navigating the tech universe one bug at a time.
    <br>
    Currently decoding life as a <b>Computer Engineering student</b>,
    I spend my time juggling semicolons, debugging
    <br>chaos, and falling in love with every new tech I meet.
    <br><br>
    When I'm not wrangling code,
    you’ll find me buried in books—sometimes tech, sometimes tales,
    <br>
    but always something that fuels the mind.
    <br><br>
    Always up for a challenge, a new framework, or just a good meme.
  </div>

  <button class="button-7" role="button">
    <span class="text">Resume</span>
  </button>

  <div class="about-me-img">
    <img src="/parth.png">
  </div>
</div>

<!--<app-greetings [message]="homeMessage()"></app-greetings>-->
<!--<app-counter></app-counter>-->

<!--<input type="text" (keyup)="keyUpHandler($event)">-->

<div class="skills">
<div class="skill-title">Skills</div>

<div class="row">
<!--<div class="skill-card">-->
<!--  <span class="skill-name">Entra</span>-->
<!--  <img src="/entra(1).png">-->
<!--</div>-->
<div class="skill-card-2">
<!--  <span class="skill-name">Java</span>-->
  <img src="/java.png">
</div>
<div class="skill-card-2">
<!--  <span class="js">JavaScript</span>-->
  <img src="/js.png">
</div>
<div class="skill-card-2">
<!--  <span class="skill-name">C#</span>-->
  <img src="/c-sharp.png">
</div>
<div class="skill-card-2">
<!--  <span class="skill-name">.NET</span>-->
  <img src="/postman.png">
</div>
  <div class="skill-card-2">
    <!--  <span class="skill-name">.NET</span>-->
    <img src="/php.png">
  </div>
  <div class="skill-card-2">
    <!--  <span class="skill-name">.NET</span>-->
    <img src="/html.png">
  </div>
  <div class="skill-card-2">
    <!--  <span class="skill-name">.NET</span>-->
    <img src="/css.png">
  </div>
  <div class="skill-card-2">
    <!--  <span class="skill-name">.NET</span>-->
    <img src="/tailwind.png">
  </div>
</div>
</div>
